In [1]:
import pandas as pd

In [3]:
import json
from pandas.io.json import json_normalize

In [4]:
with open('data/world_bank_projects.json', 'r') as jason_file: 
    json_data = json.load(jason_file)

In [5]:
print(type(json_data)) #the data is a list :(

<class 'list'>

In [6]:
print(json_data[0].keys())

dict_keys(['sector', 'supplementprojectflg', 'projectfinancialtype', 'prodline', 'mjtheme', 'idacommamt', 'impagency', 'project_name', 'mjthemecode', 'closingdate', 'totalcommamt', 'id', 'mjsector_namecode', 'docty', 'sector1', 'lendinginstr', 'countrycode', 'sector2', 'totalamt', 'mjtheme_namecode', 'boardapprovaldate', 'countryshortname', 'sector4', 'prodlinetext', 'productlinetype', 'regionname', 'status', 'country_namecode', 'envassesmentcategorycode', 'project_abstract', 'approvalfy', 'projectdocs', 'lendprojectcost', 'lendinginstrtype', 'theme1', 'grantamt', 'themecode', 'borrower', 'sectorcode', 'sector3', 'majorsector_percent', 'board_approval_month', 'theme_namecode', 'countryname', 'url', 'source', 'projectstatusdisplay', 'ibrdcommamt', 'sector_namecode', '_id'])

In [14]:
json_norm_mj = json_normalize(json_data, 'mjtheme_namecode')
print(json_norm_mj)

     code                                          name
0       8                             Human development
1      11
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8
18     10                             Rural development
19      7
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5
1482    6         Social protection and risk management
1483    8
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]

In [27]:
print('10 Major Project themes:')
print(json_norm_mj['name'].value_counts().sort_values(ascending = False).head(10))

10 Major Project themes:
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [28]:
print(json_norm_mj.info()) #let's see what we have as of now

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 2 columns):
code    1499 non-null object
name    1499 non-null object
dtypes: object(2)
memory usage: 23.5+ KB
None

In [30]:
print(type(json_norm_mj))

<class 'pandas.core.frame.DataFrame'>

In [38]:
print(json_norm_mj['code'].dtype) # We need to convert this to numeric!

object

In [40]:
json_norm_mj['code'] = json_norm_mj['code'].apply(pd.to_numeric)

In [41]:
print(json_norm_mj['code'].dtype) # Numeric!

int64

In [43]:
import numpy as np

In [55]:
json_norm_mj_nan = json_norm_mj.replace('', np.nan)
print(json_norm_mj_nan.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 2 columns):
code    1499 non-null int64
name    1377 non-null object
dtypes: int64(1), object(1)
memory usage: 23.5+ KB
None

In [61]:
json_norm_mj_nan_sorted = json_norm_mj_nan.sort_values(['code', 'name'])
print(json_norm_mj_nan_sorted)

      code                                          name
2        1                           Economic management
88       1                           Economic management
175      1                           Economic management
204      1                           Economic management
205      1                           Economic management
220      1                           Economic management
222      1                           Economic management
223      1                           Economic management
249      1                           Economic management
357      1                           Economic management
453      1                           Economic management
454      1                           Economic management
458      1                           Economic management
497      1                           Economic management
647      1                           Economic management
648      1                           Economic management
784      1                           Economic management
803      1                           Economic management
841      1                           Economic management
900      1                           Economic management
1010     1                           Economic management
1045     1                           Economic management
1056     1                           Economic management
1057     1                           Economic management
1078     1                           Economic management
1206     1                           Economic management
1212     1                           Economic management
1218     1                           Economic management
1229     1                           Economic management
1230     1                           Economic management
...    ...                                           ...
1462    11  Environment and natural resources management
1465    11  Environment and natural resources management
1480    11  Environment and natural resources management
1       11                                           NaN
98      11                                           NaN
127     11                                           NaN
187     11                                           NaN
210     11                                           NaN
233     11                                           NaN
242     11                                           NaN
277     11                                           NaN
389     11                                           NaN
407     11                                           NaN
446     11                                           NaN
562     11                                           NaN
682     11                                           NaN
686     11                                           NaN
701     11                                           NaN
885     11                                           NaN
998     11                                           NaN
1002    11                                           NaN
1015    11                                           NaN
1022    11                                           NaN
1053    11                                           NaN
1331    11                                           NaN
1360    11                                           NaN
1414    11                                           NaN
1422    11                                           NaN
1439    11                                           NaN
1477    11                                           NaN

[1499 rows x 2 columns]

In [62]:
no_missing = json_norm_mj_nan_sorted.fillna(method = 'ffill')
print(no_missing)

      code                                          name
2        1                           Economic management
88       1                           Economic management
175      1                           Economic management
204      1                           Economic management
205      1                           Economic management
220      1                           Economic management
222      1                           Economic management
223      1                           Economic management
249      1                           Economic management
357      1                           Economic management
453      1                           Economic management
454      1                           Economic management
458      1                           Economic management
497      1                           Economic management
647      1                           Economic management
648      1                           Economic management
784      1                           Economic management
803      1                           Economic management
841      1                           Economic management
900      1                           Economic management
1010     1                           Economic management
1045     1                           Economic management
1056     1                           Economic management
1057     1                           Economic management
1078     1                           Economic management
1206     1                           Economic management
1212     1                           Economic management
1218     1                           Economic management
1229     1                           Economic management
1230     1                           Economic management
...    ...                                           ...
1462    11  Environment and natural resources management
1465    11  Environment and natural resources management
1480    11  Environment and natural resources management
1       11  Environment and natural resources management
98      11  Environment and natural resources management
127     11  Environment and natural resources management
187     11  Environment and natural resources management
210     11  Environment and natural resources management
233     11  Environment and natural resources management
242     11  Environment and natural resources management
277     11  Environment and natural resources management
389     11  Environment and natural resources management
407     11  Environment and natural resources management
446     11  Environment and natural resources management
562     11  Environment and natural resources management
682     11  Environment and natural resources management
686     11  Environment and natural resources management
701     11  Environment and natural resources management
885     11  Environment and natural resources management
998     11  Environment and natural resources management
1002    11  Environment and natural resources management
1015    11  Environment and natural resources management
1022    11  Environment and natural resources management
1053    11  Environment and natural resources management
1331    11  Environment and natural resources management
1360    11  Environment and natural resources management
1414    11  Environment and natural resources management
1422    11  Environment and natural resources management
1439    11  Environment and natural resources management
1477    11  Environment and natural resources management

[1499 rows x 2 columns]

In [63]:
print(type(no_missing))
print(no_missing['name'])

<class 'pandas.core.frame.DataFrame'>
2                                Economic management
88                               Economic management
175                              Economic management
204                              Economic management
205                              Economic management
220                              Economic management
222                              Economic management
223                              Economic management
249                              Economic management
357                              Economic management
453                              Economic management
454                              Economic management
458                              Economic management
497                              Economic management
647                              Economic management
648                              Economic management
784                              Economic management
803                              Economic management
841                              Economic management
900                              Economic management
1010                             Economic management
1045                             Economic management
1056                             Economic management
1057                             Economic management
1078                             Economic management
1206                             Economic management
1212                             Economic management
1218                             Economic management
1229                             Economic management
1230                             Economic management
                            ...
1462    Environment and natural resources management
1465    Environment and natural resources management
1480    Environment and natural resources management
1       Environment and natural resources management
98      Environment and natural resources management
127     Environment and natural resources management
187     Environment and natural resources management
210     Environment and natural resources management
233     Environment and natural resources management
242     Environment and natural resources management
277     Environment and natural resources management
389     Environment and natural resources management
407     Environment and natural resources management
446     Environment and natural resources management
562     Environment and natural resources management
682     Environment and natural resources management
686     Environment and natural resources management
701     Environment and natural resources management
885     Environment and natural resources management
998     Environment and natural resources management
1002    Environment and natural resources management
1015    Environment and natural resources management
1022    Environment and natural resources management
1053    Environment and natural resources management
1331    Environment and natural resources management
1360    Environment and natural resources management
1414    Environment and natural resources management
1422    Environment and natural resources management
1439    Environment and natural resources management
1477    Environment and natural resources management
Name: name, Length: 1499, dtype: object

In [64]:
print(no_missing['name'].value_counts().sort_values(ascending = False).head(10))

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64